
:root {
    --branco-principal: #FFFFFF;
    --cinza-secundario: #C0C0C0;
    --botao-azul: #167BF7;
    --cor-de-fundo: #00030C;
}

body {
    background-color: var(--cor-de-fundo);
    color: var(--branco-principal);
}

* {
    margin: 0;
    padding: 0;
    .container__botao {
        background-color: #5CBAE6;
        color: black;
        display: inline-block;
        margin-top: 1em;
    
    }
    <section class="container secundario">
    <img src="img/Notebook.png" alt="Notebook com a página do curso HTML5 e CSS3 da Alura aberta" class="secundario__imagem">
  <div class="container__descricao">
        <h2 class="descricao__titulo">Baixe seus cursos</h2>
        <p class="descricao__texto">Baixe e assista quando e onde quiser. Assim, seus favoritos estão sempre com você, até mesmo sem internet.</p>
    </div>
</section>
